{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        {% block style %}
        {% endblock %}

        {% block script %}
        {% endblock %}
        <title>Vote47</title>
    </head>
    <body>
        <nav>
            <a href="{% url 'vote:home' %}">
                <img src="" alt="logo" class="logo" />
                <h1 class="title">Vote47</h1>
            </a>
        </nav>
        {% block main %}
        {% endblock %}
    </body>
</html>