<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>detail</title>
    </head>
    <body>
        <h3>부동산 공약 {{win_real_estate}}</h3>
        <p>재산세 공약 {{ox3}}</p>
        <p>재건축/재개발 공약 {{ox4}}</p>
        <p>광화문광장 공약 {{ox5}}</p>
        <p>LH사태 관련 {{ox6}}</p>
        <h3>경제 공약 {{win_economy}}</h3>
        <p>재난지원금 공약 {{ox7}}</p>
        <p>출산율 공약 {{ox9}}</p>
        <p>일자리 공약{{ox11}}</p>
        <p>소상공인 공약{{ox12}}</p>
        <h3>복지 공약 {{win_welfare}}</h3>
        <p>재난지원금 공약 {{ox7}}</p>
        <p>성평등 공약 {{ox8}}</p>
        <p>출산율 공약 {{ox9}}</p>
        <p>소상공인 공약{{ox12}}</p>
        <p>장애인 복지 공약{{ox14}}</p>
        <h3>청년 공약 {{win_youngs}}</h3>
        <p>성평등 공약 {{ox8}}</p>
        <p>출산율 공약 {{ox9}}</p>
        <p>교육 공약{{ox10}}</p>
        <p>일자리 공약{{ox11}}</p>
        <p>퀴어축제 공약{{ox13}}</p>
        <h3>사회적 가치 공약 {{win_social_value}}</h3>
        <p>광과문광장 공약 {{ox5}}</p>
        <p>교육 공약{{ox10}}</p>
        <p>퀴어축제 공약{{ox13}}</p>
        <p>장애인 복지 공약{{ox14}}</p>
    </body>
</html>
