{% extends 'vote/base.html' %}
{% load static %}


{% block styleSignup %}
<link rel="stylesheet" href="{% static 'css/global.css' %}" />
<link rel="stylesheet" href="{% static 'css/nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/sign-up.css' %}" />
{% endblock %}

{% block signup %}
<div>
    <div id="login-page">
        <div class="inner-container">
            <h1 class="title">login</h1>
            <div class="login-container">
                <form action="" method="POST" class="container">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != "result" and field.name != "gender" %}
                            <div class="login__form-field">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if error %}
                            <div class="error">
                                {{ error }}
                            </div>
                    {% endif %}
            
                    <div class="login__form-actions">
                        <button class="restart-btn" type="submit">테스트하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>    
<script>
</script>
{% endblock %}