{% extends 'vote/base.html' %} 
{% load static %} 
{% block styleSignup %}
<link rel="stylesheet" href="{% static 'css/global.css' %}" />
<link rel="stylesheet" href="{% static 'css/nav.css' %}" />
<link rel="stylesheet" href="{% static 'css/sign-up.css' %}" />
{% endblock %} 
{% block signup %}
<div>
    <div id="login-page">
        <div class="inner-container">
            <div class='headers'>
                <br>
                <h1 class="title"><i class="fas fa-vote-yea" style='color:#9956f6'></i>Welcome to Vote47</h1>
                <h3>나와 가장 잘 맞는 서울시장 후보 테스트</h3>
            </div>
            <div class='login-intro'>
                <p>안녕하세요!</p> 
                <p>4월 7일 재보궐선거에서 개인별 맞춤 후보자를 추천하는 테스트를 제작한 Vote47팀입니다. <br>
                    소속 정당이나 이념등의 정치적인 요소는 최대한 배제하고, <br>
                    오직 후보자와 공약만을 고려해서 테스트를 제작했습니다. <br> 
                    이 테스트가 여러분들의 선택에 도움이 되기를 바라겠습니다! <br>
                </p>
                <p>   그럼 테스트를 시작해볼까요?</p>
                <br>
                <p><i class="fas fa-question"></i>  테스트를 위해 유권자님의 정보를 알려주세요!</p>
                <p><i class="fas fa-question"></i>  지금 입력하는 정보는 결과에 영향을 미치지 않아요.</p>
            </div>
            <div class="login-container">
                <form action="" method="POST" class="container">
                    {% csrf_token %} 
                    {% for field in form %} 
                    {% if field.name != "result" and field.name != "gender" %}
                    <div class="login__form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>

                    {%endif%}
                    {% endfor %}

                    {% if error %}
                            <div class="error">
                                {{ error }}
                            </div>
                    {% endif %}
            
                    <div class="login__form-actions">
                        <button class="restart-btn" type="submit">테스트하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script></script>
{% endblock %}
